*.a filter=lfs diff=lfs merge=lfs -text
*so.1 filter=lfs diff=lfs merge=lfs -text
*so.1.20.1 filter=lfs diff=lfs merge=lfs -text
.so filter=lfs diff=lfs merge=lfs -text
*.so.0 filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.so.* filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.rknn filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.tar.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.STL filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
mujoco_sim_standalone/bin/aimrt_main filter=lfs diff=lfs merge=lfs -text
mujoco_sim_standalone/bin/iox-* filter=lfs diff=lfs merge=lfs -text
