DATA_PingPang/**/*.bvh filter=lfs diff=lfs merge=lfs -text
DATA_PingPang/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/analysis/mocap_cleaning_outputs/**/*.npz filter=lfs diff=lfs merge=lfs -text
